# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority

# Server Port (will use 3000 as default if not set)
PORT=3000

# Environment
NODE_ENV=development
